{% load static %}
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href=""><img src="{% static 'assets/img/logo/logo_footer.png' %}" width="200" height="80" alt="logo footer"></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>{{footer_description}}</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>{{footer_quicklinks}}</h4>
                            <ul>
                                <li><a href="about.html">{{footer_quicklinks_about}}</a></li>
                                <li><a href="books.html?title=">{{footer_quicklink_title}}</a></li>
                                <li><a href="books.html?author=">{{footer_quicklink_author}}</a></li>
                                <li><a href="books.html?library=">{{footer_quicklink_library}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>{{footer_myaccount}}</h4>
                            <ul>
                                <li><a href="bookmarks.html">{{footer_myaccount_bookmarks}}</a></li>
                                <li><a href="wishlist.html">{{footer_myaccount_wishlist}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>{{footer_support}}</h4>
                            <ul>
                                <li><a href="contact.html">{{footer_support_contacts}}</a></li>
                                <li><a href="terms.html">{{footer_support_terms}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-8 col-md-7">
                    <div class="footer-copy-right">
                        <p><!-- Copyright Message -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> {{footer_copyright_msg}}
                        </p>                  
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>