{% extends "template.2/template_page.html" %}
{% block content %}

<div class="intro_items" style="padding:50px 0 0 0px; margin-top: 150px">
    <div class="mt-2 d-flex bd-highlight">
      <div class="p-2 col-9 bd-highlight " style="border:1px solid red;">
          <embed src="{{ row.book_url }}" type="application/pdf" height="800px" width="100%">
      </div>
      <div class="p-2 col-3 flex-shrink-1 bd-highlight" style="border:1px solid green;">
          <h4 class="font-weight-bold">{{ row.book.title }}</h4>
          <h7 class=""><a href="">{{ row.book.author }}</a></h7>
            <div>Comments</div>
      </div>
    </div>
</div>

{% endblock %}