{% extends "template.2/template_page.html" %}
{% block content %}
{% load static %}

<div class="intro_items" style="margin-top: 150px">
    <div class="mt-2 d-flex bd-highlight">
      <div class="p-2 col-9 bd-highlight " style="border:0px solid red;">
          <embed src="{{ row.book_url }}/{{ row.book.storage_link }}" type="application/pdf" height="800px" width="100%">
      </div>
      <div class="p-2 col-3 flex-shrink-1 bd-highlight" style="border:0px solid green;">
          <span class="h6 row pl-1 font-weight-bold">{{ row.book.title }} ( <a href="">{{ row.book.author }}</a>)</span>
          <span class="h7 row pl-2 ">වර්ෂය: {{ row.book.published_year|date:"Y" }} | පිටු: {{ row.book.pages }}</span>
          <div class="mt-2">Comments</div>
          {% for comment_row in row.comments %}
          <div class="d-flex justify-content-between ">
              <div class="mr-1">
                  <img src="{% static '/assets/img/profiles/sample_profile.jpeg' %}" style="border-radius: 50%;" alt="profile photo" width="32px" height="32px">
              </div>
              <div class="book-comment w-100 rounded p-2 mb-1">{{ comment_row.description }}</div>
          </div>
          {% endfor %}

          <h7 class="mt-2">Add new comment:</h7>
          <textarea rows="3" class="mt-2 w-100 border border-primary rounded"></textarea>
      </div>
    </div>
</div>

{% endblock %}