

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<div class="row">

				<div class="col-lg-9 order-lg-2 order-1">
					<div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
						<div class="footer_nav">
							<ul class="footer_nav_list">
								<li class="footer_nav_item"><a href="/">මුල් පිටුව</a></li>
								<li class="footer_nav_item"><a href="/static/about.html">අප ගැන</a></li>
								{% comment %} <li class="footer_nav_item"><a href="/static/offers.html">offers</a></li>
								<li class="footer_nav_item"><a href="/static/blog.html">news</a></li> {% endcomment %}
								<li class="footer_nav_item"><a href="/#contact">සම්‌භන්‌ද වෙමු</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>