{% extends "template.2/template_page.html" %}
{% block content %}
	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->

		<div class="home_slider_container">
			
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slider Item : Search tab -->
				<div class="owl-item home_slider_item">
					<div class="home_slider_background" style="background-image:url(static/images/banner1.jpg)"></div>
					<div class="home_slider_background" style="background-image:url(static/images/liyawel-2.jpg); opacity: 0.1;"></div>

					<!-- TODO: fix - search bar width is too long for phone view -->
					<div class="home_slider_content text-center">
						<div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">

							<form action="search" method="get">
								<div class="row">
									<div class="col-9">
										<h3><input type="text" id="search" name="search" title="input search text"
												   Placeholder="සොයන්න"
												   class="border border border-secondary rounded destination search_input"
												   style="width:700px"></h3>
									</div>
									<div class="col-3 d-flex justify-content-end">
										<input type="submit" value="සොයන්න" title="Search" class="btn btn-danger ml-3" style="height: 45px;">
									</div>
								</div>
								<div class="row justify-content d-flex align-items-center" style="background-color:; height:30px; border-radius:5px;">
									<div class="pl-2"> <a href="/search/" class="tag-link">ග්‍රන්ථ නාමාවලිය</a> </div>
									<div class="pl-2"> <a href="/search/?category_L1=L1_C1" class="tag-link">චිනය</a> </div>
									<div class="pl-2"> <a href="/search/?category_L1=L1_C2" class="tag-link">සූත්‍ර</a> </div>
									<div class="pl-2"> <a href="/search/?category_L1=L1_C3" class="tag-link">අභිධර්ම</a> </div>
									<div class="pl-2"> <a href="/search/?category_L1=L1_C1,L1_C2,L1_C3" class="tag-link">ත්‍රිපිටකය</a> </div>
									<div class="pl-2"> <a href="/search/?category_L1=L1_C4" class="tag-link">ධම්‌ම සංග්‍රහ පොත්‌</a> </div>
									<div class="pl-2"> <a href="/search/?category_L1=L1_C5" class="tag-link">පාලි ව්‍යාකරණ</a> </div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
			
		</div>

	</div>

	<!-- Search -->

	<div class="search pb-3">

		<!-- Search Contents -->

		<div class="container fill_height">
			<div class="row fill_height">
				<div class="col fill_height p-3">

					<!-- Search Tabs -->

					<div class="search_tabs_container">
						<h3 class='text-shadow'>වෙනත් ආකාර වලින් ග්‍රන්ථ සෙවීම සඳහා :</h3>
						<h5 class='text-shadow'>Detailed Search:</h5>
						<div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
<!--							{% comment %} <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><i class="fa fa-book" aria-hidden="true">&nbsp;</i><span>ත්‍රිපිටකය</span></div>
							<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><i class="fa fa-book" aria-hidden="true">&nbsp;</i>අටුවා</div>
							<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><i class="fa fa-book" aria-hidden="true">&nbsp;</i>ත්‍රිපිටක ටීකා</div> {% endcomment %}-->
							<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><i class="fa fa-2x fa-search" aria-hidden="true">&nbsp;</i>විස්තරාත්මක සෙවීම / Detailed Search</div>
<!--							<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i>වර්‌ෂය</div>
							<div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i></div>-->
						</div>
					</div>

					<!-- Search Panel : Detailed Search -->

					<div class="search_panel active">
						<form action="/search" id="search_form_1" class="search_panel_content d-flex align-self-start justify-content-start  flex-wrap" method="get">
							<div class="search_item col-lg-3">
								<div>නාමාවලි අංකය / Catalog No</div>
								<input type="text" class="search_input" id="catalog_no" name="catalog_no">
							</div>
							<div class="search_item col-lg-9">
								<div>නම / Book Title</div>
								<input type="text" class="search_input" id="title" name="title">
							</div>
							<div class="search_item col-lg-6">
								<div>කතෘ / Author</div>
								<input type="text" class="search_input" id="author" name="author">
							</div>
							<div class="search_item col-lg-2">
								<div>භාෂාව / Language</div>
								<select name="language" id="language" class="dropdown_item_select search_input">
									<option id='NULL' value=''>--</option>
									{% for row in language_rows %}
										<option id='{{ row.0 }}' value='{{ row.0 }}'>{{ row.1 }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="search_item col-lg-2">
								<div>වසර / Year</div>
								<input type="text" class="search_input" id="published_year" name="published_year">
							</div>
							<div class="search_item col-lg-2">
								<div>පිටු ගණන / Pages</div>
								<input type="text" class="search_input" id="pages" name="pages">
							</div>
							<div class="search_item col-lg-4">
								<div>ප්‍රධාන වර්ගීකරණය / Main Category</div>
								<select name="category_L1" id="category_L1" class="dropdown_item_select search_input">
									<option id='NULL' value=''>--</option>
									{% for row in category1_rows %}
										<option id='{{ row.0 }}' value='{{ row.0 }}'>{{ row.1 }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="search_item col-lg-4">
								<div>වෙනත් වර්ගීකරණ / Sub Category</div>
								<select name="category_L2" id="category_L2" class="dropdown_item_select search_input">
									<option id='NULL' value=''>--</option>
									{% for row in category2_rows %}
										<option id='{{ row.0 }}' value='{{ row.0 }}'>{{ row.1 }}</option>
									{% endfor %}
								</select>
							</div>

							<div class="search_item col-lg-12">
								<button class="button search_button" onclick="navigate('search');">සොයන්න<span></span><span></span><span></span></button>
								<input type="reset" class="button search_button" value="Clear Form"></input>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>		
	</div>

	<!-- Book Category Tiles -->
	
	<div class="intro pattern-wrap">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="intro_title text-center">මූලික ග්‍රන්ථ වර්ගීකරණ</h2>
					<h5 class='text-dark text-center font-weight-bold'>Main Categories</h5>
				</div>
			</div>
			<div class="row intro_items">

				<!-- Book category tile  -->
				{% for v,row in book_category_rows.items %}
					<div class="col-lg-4 intro_col">
						<div class="intro_item">
							<div class="intro_item_overlay"></div>
							<div class="intro_item_background" style="background-image:url(static/images/{{ row.image }})"></div>
							<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
								<div class="intro_date">ග්‍රන්ථ {{ row.count }}</div>
								<div class="button intro_button"><div class="button_bcg"></div><a href="search/?category_L1={{ row.cat }}">නාමාවලිය<span></span><span></span><span></span></a></div>
								<div class="intro_center text-center">
									<h1>{{ row.title }}</h1>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>

			<!-- Book category level 2 -->
			<div class="row pt-5">
				<div class="col">
					<h2 class="intro_title text-center">වෙනත් ග්‍රන්ථ වර්ගීකරණ</h2>
					<h5 class='text-dark text-center  font-weight-bold'>Sub Categories</h5>

					<div class="alert alert-secondary" role="alert">
						<h5 class='text-dark text-center mt-3'>පොත් ලැයිස්තුව බැලීමට එක් එක් කාණ්ඩය තෝරන්න(ක්ලික් කරන්න).</h5>
						<h5 class='text-dark text-center'>Click each category to see the list of books.</h5>
					</div>

				</div>
			</div>

			<div class="row intro_items d-flex justify-content-center">
				<!-- Book Counts by Sub Categories -->

				<div class="col-7">
					<h5 class='text-dark text-center  font-weight-bold'>උප කාණ්ඩ අනුව පොත් වර්ගීකරණය</h5>
					<h5 class='text-dark text-center  font-weight-bold'>Books grouped by sub categories</h5>
					<table style="padding:10px" class="w-100 p-2 grid" cellpadding="2px" cellspacing="10px" >
						<thead>
							<th>Sub Categories</th>
							<th class="text-center">Book Count</th>
							<th class="text-center">%</th>
						</thead>
						<tbody>
							<tr class="grid">
								<th>වෙනත් වර්ගීකරණ</th>
								<th class="text-center">පොත් ගණන</th>
								<th></th>
							</tr>
							{% for v,row in book_category_2_rows.items %}
								<tr class="{% cycle 'odd' 'even' %}">
									<td><a class="" href="search/?category_L2={{ row.cat }}">{{ row.title }}</a></td>
									<td class="text-center">{{ row.count }}</td>
									<td class="d-flex justify-content-start">
										<span class="bar_chart_bg" style=" width:{{ row.perc }}px">&nbsp;</span>
										<span class="pl-2">{{ row.perc }}%</span>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<th>Total</th>
							<th class="text-center">{{ total_books.count__sum }}</th>
							<th></th>
						</tfoot>
					</table>
				</div>


				<div class="col-5">
					<h5 class='text-dark text-center  font-weight-bold'>භාෂාව අනුව පොත් වර්ගීකරණය</h5>
					<h5 class='text-dark text-center  font-weight-bold'>Books grouped by language</h5>
					<!-- Book Counts by Languages -->
					<table style="padding:10px" class="w-100 p-2 grid" cellpadding="2px" cellspacing="10px" >
						<thead>
							<th>Language</th>
							<th class="text-center">Book Count</th>
							<th class="text-center">%</th>
						</thead>
						<tbody>
							<tr class="grid">
								<th>භාෂාව</th>
								<th class="text-center">පොත් ගණන</th>
								<th></th>
							</tr>
							{% for v,row in book_language_rows.items %}
								<tr class="{% cycle 'odd' 'even' %}">
									<td><a class="" href="search/?language={{ row.cat }}">{{ row.title }}</a></td>
									<td  class="text-center">{{ row.count }}</td>
									<td class="d-flex justify-content-start">
										<div class="bar_chart_bg" style="width:{{ row.perc }}px">&nbsp;</div>
										<div class="pl-2">{{ row.perc }}%</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<th>Total</th>
							<th class="text-center">{{ total_books.count__sum }}</th>
							<th></th>
						</tfoot>
					</table>

					<!-- Book Counts by year range -->
					<h5 class='text-dark text-center  font-weight-bold mt-5'>වර්ෂ අනුව පොත් වර්ගීකරණය</h5>
					<h5 class='text-dark text-center  font-weight-bold'>Books grouped by published year range</h5>
					<table style="padding:10px" class=" w-100 p-2 grid" cellpadding="2px" cellspacing="10px" >
						<thead>
							<th>Year Range</th>
							<th class="text-center">Book Count</th>
							<th class="text-center">%</th>
						</thead>
						<tbody>
							<tr class="grid">
								<th>වර්ෂ</th>
								<th class="text-center">පොත් ගණන</th>
								<th></th>
							</tr>
							{% for v,row in date_range_count_list.items %}
								<tr class="{% cycle 'odd' 'even' %}">
									<td><a class=""
										   href="search/?date_range1={{ row.date_range1 }}&date_range2={{ row.date_range2 }}">{{ row.year_range }}</a></td>
									<td  class="text-center">{{ row.count }}</td>
									<td class="d-flex justify-content-start">
										<div class="bar_chart_bg" style=" width:{{ row.perc }}px">&nbsp;</div>
										<div class="pl-2">{{ row.perc }}%</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<th>Total</th>
							<th class="text-center">{{ total_books.count__sum }}</th>
							<th></th>
						</tfoot>
					</table>
				</div>

			</div>
		</div>
	</div>

	<!-- Currently Reading Books -->

	<div class="cta">
		<div class="cta_background" style="background-image:url(static/images/banner2.jpg)"></div>
		
		<div class="container">
			<div class="row">
				<div class="col text-center mb-3">
					<h2 class=" text-shadow">දැනට කියවන පොත්...</h2>
					<h5 class='text-shadow text-center'>Currently reading books...</h5>
				</div>
			</div>
			<div class="row">
				<div class="col">

					<!-- CTA Slider -->

					<div class="cta_slider_container">
						<div class="owl-carousel owl-theme cta_slider">
							<div class="row">
								<div class="col-lg-6">
									<div class="offers_image_container">
										<div class="offers_image_background" style=" background-image:url(static/images/old_paper.jpg)"></div>
										<div class="offers_image_background book-cover" style=" background-image:url(static/images/book-cover1.png)"></div>
										<div class="offer_name"><a href="static/#">පිටුව 132</a></div>
									</div>
								</div>
								<div class="col-lg-6">
									<!-- CTA Slider Item -->
									<div class="owl-item cta_item text-center">
										
										<div class="cta_title">අභිධර්මාර්ථ ප්‍රදීපිකා 1</div>
										<div class="rating_r rating_r_4">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<h3 class="cta_text">අමරදාස රත්නපාල මහතා </h3>
										<p class="cta_text">අවසන් වරට කියවූ පිටුව 132 / 255</p>
										<div class="button cta_button"><div class="button_bcg"></div><a href="static/#">කියවන්න<span></span><span></span><span></span></a></div>
									</div>
								</div>
							</div>	

							<!-- CTA Slider Item -->
							<div class="row">
								<div class="col-lg-6">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@kensuarez -->
										<div class="offers_image_background" style=" background-image:url(static/images/old_paper.jpg)"></div>
										<div class="offers_image_background book-cover" style=" background-image:url(static/images/book-cover2.png)"></div>
										<div class="offer_name"><a href="static/#">පිටුව 105</a></div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="owl-item cta_item text-center">
										<div class="cta_title">විමුක්ති මාර්ගොදය (බොජ්ඣංග)</div>							
										<div class="rating_r rating_r_4">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<h3 class="cta_text">දික්වැල්ලේ සීලරතන හිමි</h3>	
										<p class="cta_text">අවසන් වරට කියවූ පිටුව 105 / 282</p>
										<p class="cta_text"></p>
										<div class="button cta_button"><div class="button_bcg"></div><a href="static/#">කියවන්න<span></span><span></span><span></span></a></div>
									</div>
								</div>
							</div>							

							<div class="row">
								<div class="col-lg-6">
									<div class="offers_image_container">
										<div class="offers_image_background" style=" background-image:url(static/images/old_paper.jpg)"></div>
										<div class="offers_image_background book-cover" style=" background-image:url(static/images/book-cover3.png)"></div>
										<div class="offer_name"><a href="static/#">පිටුව 14</a></div>
									</div>
								</div>
								<div class="col-lg-6">
									<!-- CTA Slider Item -->
									<div class="owl-item cta_item text-center">
										
										<div class="cta_title">පඨමපාඨාවලී</div>
										<div class="rating_r rating_r_4">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<h3 class="cta_text">පොල්වත්තේ බුද්ධදත්ත හිමි</h3>
										<p class="cta_text">අවසන් වරට කියවූ පිටුව 14 / 182</p>
										<div class="button cta_button"><div class="button_bcg"></div><a href="static/#">කියවන්න<span></span><span></span><span></span></a></div>
									</div>
								</div>
							</div>	
							
						</div>

						<!-- CTA Slider Nav - Prev -->
						<div class="cta_slider_nav cta_slider_prev">
							<svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
								<defs>
									<linearGradient id='cta_grad_prev'>
										<stop offset='0%' stop-color='#fa9e1b'/>
										<stop offset='100%' stop-color='#8d4fff'/>
									</linearGradient>
								</defs>
								<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
								M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
								C22.545,2,26,5.541,26,9.909V23.091z"/>
								<polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
								11.042,18.219 "/>
							</svg>
						</div>
						
						<!-- CTA Slider Nav - Next -->
						<div class="cta_slider_nav cta_slider_next">
							<svg version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
								<defs>
									<linearGradient id='cta_grad_next'>
										<stop offset='0%' stop-color='#fa9e1b'/>
										<stop offset='100%' stop-color='#8d4fff'/>
									</linearGradient>
								</defs>
							<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
							M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
							C22.545,2,26,5.541,26,9.909V23.091z"/>
							<polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
							17.046,15.554 "/>
							</svg>
						</div>

					</div>

				</div>
			</div>
		</div>
					
	</div>

	<!-- Most Read Books -->

	<div class="offers  pattern-wrap">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="section_title">වැඩිපුරම කියවූ පොත්</h2>
					<h5 class='text-dark text-center  font-weight-bold'>Mostly read books...</h5>
				</div>
			</div>

			<!-- Book Details -->

			<div class="">
				<div class="row">
					{% for book in most_read_books %}
					<div class="col-3 offers_content text-center ">
						<a href="/read/{{ book.catalog_no }}">
							<div class="offers_price pt-1">{{ book.title }}<span><br>{{ book.author }}</span></div>
							<p class="offers_text">වසර : {{ book.year }}<p>
							<div class="d-none rating_r rating_r_4 offers_rating">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
							</div>
							<p class="offers_text">File ප්‍රමාණය (size) : {{ book.book_size }}<br>
							පිටු {{ book.pages }}</p>
							<div class="offer_name mt-1">{{ book.view_count }} Downloads</div>
							<div class="d-none offers_icons">
								<ul class="offers_icons_list">
									<li class="offers_icons_item"><img src="static/images/post.png" alt=""></li>
									<li class="offers_icons_item"><img src="static/images/compass.png" alt=""></li>
									<li class="offers_icons_item"><img src="static/images/bicycle.png" alt=""></li>
									<li class="offers_icons_item"><img src="static/images/sailboat.png" alt=""></li>
								</ul>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials">
		<div class="cta_background" style="background-image:url(static/images/monk-5948907_1920.jpg)"></div>
		<div class="test_border"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">	
					<h2 class="section_title text-shadow">ප්‍රශ්න සහ අදහස් </h2>
					<h5 class='text-shadow text-center'>Questions and Comments</h5>
				</div>
			</div>
			<div class="row">
				<div class="col">
					
					<!-- Testimonials Slider -->

					<div class="test_slider_container">
						<div class="owl-carousel owl-theme test_slider">
							<!-- Testimonial Item -->
							<div class="owl-item offers_item test_item" style="">
										
								<h4 class="test_name">අභිධර්මාර්ථ ප්‍රදීපිකා 1</h4>
								<p class="">ඇස නම් වූ මාංස පිණ්ඩය තුදුස් සම්භාරයකින් යුක්ත බව කියවේ. (විශුද්ධි මග්ග, අභිධර්මාර්ථ ප්‍රදීපිකා) 
								පඨවි ආපෝ තේජෝ වයෝ වර්ණ ගන්ධ රස ඕජා - ශුද්ධ්ෂ්ටක - 8 
								ජිවිත රූප හා භාව රූප - 2   ,    කාය ප්‍රසාද හා චක්ඛු ප්‍රසාද - 02 
								සන්ඨාන හා සම්භාව - 02     ( සියල්ල 14)
								ගැටලුව: මෙහි සන්ඨාන හා සම්භාව යනු මොනවාද ? (මෙම ධාතු රූප 28 හි නාමයන්හි නැත. ඒ පිලිබඳ ප්‍රමාණවත් විස්තර උක්ත අභිධර්ම ග්‍රන්ථ හා පෙලෙහිද නැත. අටුවාහි පවතීද නොදනිමි. )
								කරුණාකර පහදා දෙන්න</p>

								<h4 class="test_name">මාතර සිරිවන්ස හිමි</h4>
								<div class="test_date">2021 මාර්තු 10</div>
								<div class="button cta_button"><div class="button_bcg"></div><a href="static/#">කියවන්න<span></span><span></span><span></span></a></div>
							</div>

							<!-- Testimonial Item -->
							<div class="owl-item offers_item test_item">
										
								<h4 class="test_name">විමුක්ති මාර්ගොදය</h4>
								<p class="">නිර්වාණ ධාතුව පිළිබද වූ ඥාණ සම්පත්තිය කිනම් ආකාර වේද ? ඒ පිළිබද ධර්මාණුකුල අදහස් විමසීමකට අවසර.</p>

								<h4 class="test_name">සුනිල් හේරත්</h4>
								<div class="test_date">2021 මාර්තු 24</div>
								<div class="button cta_button"><div class="button_bcg"></div><a href="static/#">කියවන්න<span></span><span></span><span></span></a></div>
							</div>

							<!-- Testimonial Item -->
							<div class="owl-item offers_item test_item">
										
								<h4 class="test_name">පඨමපාඨාවලී</h4>
								<p class="">බ්‍රහ්ම විහාර කර්මස්ථානයන් ප්‍රඥප්ති අරමුණු කොට ඇතැයි යනුවෙන් දක්වන්නේ,
								අද්වේශයාදී ධර්ම පරමාර්ථ වුවද
								අප භාවනාවට ගන්නා කර්මස්ථානයන් ප්‍රඥප්ති මත පදනම් වන නිසා නොවේද..?
								උදාහරණයට මෛත්‍රී භාවනාව:-
								*'මම' නිදුක් වෙත්වා
								*'උතුරු දෙස සත්ත්වයන්' නිදුක් වෙත්වා.
								යනාදී වශයෙන්..</p>

								<h4 class="test_name">රාජගිරියේ ආනන්ද හිමි</h4>
								<div class="test_date">2021 අගෝස්තු 20</div>
								<div class="button cta_button"><div class="button_bcg"></div><a href="static/#">කියවන්න<span></span><span></span><span></span></a></div>
							</div>

						</div>

						<!-- Testimonials Slider Nav - Prev -->
						<div class="test_slider_nav test_slider_prev">
							<svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
								<defs>
									<linearGradient id='test_grad_prev'>
										<stop offset='0%' stop-color='#fa9e1b'/>
										<stop offset='100%' stop-color='#8d4fff'/>
									</linearGradient>
								</defs>
								<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
								M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
								C22.545,2,26,5.541,26,9.909V23.091z"/>
								<polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
								11.042,18.219 "/>
							</svg>
						</div>
						
						<!-- Testimonials Slider Nav - Next -->
						<div class="test_slider_nav test_slider_next">
							<svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
								<defs>
									<linearGradient id='test_grad_next'>
										<stop offset='0%' stop-color='#fa9e1b'/>
										<stop offset='100%' stop-color='#8d4fff'/>
									</linearGradient>
								</defs>
							<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
							M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
							C22.545,2,26,5.541,26,9.909V23.091z"/>
							<polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
							17.046,15.554 "/>
							</svg>
						</div>

					</div>
					
				</div>
			</div>

		</div>
	</div>

	<div class="trending" style="display:none;">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2 class="section_title">trending now</h2>
				</div>
			</div>
			<div class="row trending_container">

				<!-- Trending Item -->
				<div class="col-lg-3 col-sm-6">
					<div class="trending_item clearfix">
						<div class="trending_image"><img src="" ></div>
						<div class="trending_content">
							<div class="trending_title"><a href="static/#">grand hotel</a></div>
							<div class="trending_price">From $182</div>
							<div class="trending_location">madrid, spain</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="contact" id="contact">
		<div class="contact_background pattern-wrap"></div>

		<div class="container">
			<div class="row pt-4">
				<div class="col-lg-12">
					<div class="contact_form_container">
						<div class="contact_title">සම්‌භන්‌ද වෙමු</div>
						<h5 class='text-shadow'>Contact Us</h5>
						<form action="#" id="contact_form" class="contact_form">
							<input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="නම | name" required="required" data-error="Name is required.">
							<input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="ඊ-මේල් ලිපිනය | email" required="required" data-error="Email is required.">
							<input type="text" id="contact_form_subject" class="contact_form_subject input_field" placeholder="මාතෘකාව | subject" required="required" data-error="Subject is required.">
							<textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="පණිවිඩය | message" required="required" data-error="Please, write us a message."></textarea>
							<button type="submit" id="form_submit_button" class=" button search_button">Send Message<span></span><span></span><span></span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Column -->
				<div class="col-lg-5 footer_column">
					<div class="footer_col">
						<div class="footer_content footer_about">
							<div class="logo_container footer_logo">
								<div class="logo"><a href=""><img src="/static/images/Saddharma_logo.png" width="350px" alt=""></a></div>
							</div>
{% comment %}
							<p class="footer_about_text">වැඩි විස්තර සඳහා අප  සම්භන්ද වෙන්න.</p>
							<h5 class='text-dark' style="">Contact Us for any other inquiries:</h5>
							{% endcomment %}
							<ul class="footer_social_list">
								{% comment %} <li class="footer_social_item"><a href="/static/#"><i class="fa fa-youtube-play fa-3" aria-hidden="true"></i></a></li>
								<li class="footer_social_item"><a href="/static/#"><i class="fa fa-facebook-f"></i></a></li>
								<li class="footer_social_item"><a href="/static/#"><i class="fa fa-twitter"></i></a></li>
								<li class="footer_social_item"><a href="/static/#"><i class="fa fa-dribbble"></i></a></li>
								<li class="footer_social_item"><a href="/static/#"><i class="fa fa-behance"></i></a></li> {% endcomment %}
							</ul>
						</div>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-3 footer_column" style="display:none;">
					<div class="footer_col">
						<div class="footer_title">blog posts</div>
						<div class="footer_content footer_blog">

							<!-- Footer blog item -->
							<div class="footer_blog_item clearfix">
								<div class="footer_blog_image"><img src=""></div>
								<div class="footer_blog_content">
									<div class="footer_blog_title"><a href="/static/blog.html">Travel with us this year</a></div>
									<div class="footer_blog_date">Nov 29, 2017</div>
								</div>
							</div>

							<!-- Footer blog item -->
							<div class="footer_blog_item clearfix">
								<div class="footer_blog_image"><img src="" ></div>
								<div class="footer_blog_content">
									<div class="footer_blog_title"><a href="/static/blog.html">New destinations for you</a></div>
									<div class="footer_blog_date">Nov 29, 2017</div>
								</div>
							</div>

							<!-- Footer blog item -->
							<div class="footer_blog_item clearfix">
								<div class="footer_blog_image"><img src=""></div>
								<div class="footer_blog_content">
									<div class="footer_blog_title"><a href="/static/blog.html">Travel with us this year</a></div>
									<div class="footer_blog_date">Nov 29, 2017</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-3 footer_column" style="display:none;">
					<div class="footer_col">
						<div class="footer_title">tags</div>
						<div class="footer_content footer_tags">
							<ul class="tags_list clearfix">
								<li class="tag_item"><a href="/static/#">design</a></li>
								<li class="tag_item"><a href="/static/#">fashion</a></li>
								<li class="tag_item"><a href="/static/#">music</a></li>
								<li class="tag_item"><a href="/static/#">video</a></li>
								<li class="tag_item"><a href="/static/#">party</a></li>
								<li class="tag_item"><a href="/static/#">photography</a></li>
								<li class="tag_item"><a href="/static/#">adventure</a></li>
								<li class="tag_item"><a href="/static/#">travel</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-5 footer_column ">
					<div class="footer_col">
						<div class="footer_title">වැඩි විස්තර සඳහා අප හා සම්භන්ද වන්න:</div>
						<div class="footer_content footer_contact">
							<ul class="contact_info_list">
								<li class="contact_info_item d-flex flex-row">
									<div><div class="contact_info_icon"><img src="/static/images/placeholder.svg" alt=""></div></div>
									<div class="contact_info_text">Stree No, Address, Sri Lanka.</div>
								</li>
								<li class="contact_info_item d-flex flex-row">
									<div><div class="contact_info_icon"><img src="/static/images/phone-call.svg" alt=""></div></div>
									<div class="contact_info_text">+94 011 111 111</div>
								</li>
								<li class="contact_info_item d-flex flex-row">
									<div><div class="contact_info_icon"><img src="/static/images/message.svg" alt=""></div></div>
									<div class="contact_info_text"><a href="/static/mailto:info@saddharma.org" target="_top">info@saddharma.org</a></div>
								</li>
								<li class="contact_info_item d-flex flex-row">
									<div><div class="contact_info_icon"><img src="/static/images/planet-earth.svg" alt=""></div></div>
									<div class="contact_info_text"><a href="https://www.saddharma.org">www.saddharma.org</a></div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>
{% endblock %}



