{% extends "template.2/template_page.html" %}
{% block content %}
{% load humanize %}

	<!-- Book quick search -->
	<form class="container" action="/search" method="get" style=" margin-top: 150px;">
		<div class="row">
			<div class="col-11">
				<h3><input type="text" id="search" name="search" title="input search text"
						   Placeholder="සොයන්න" value="{{ search_query }}" style="width: 900px"
						   class="border border border-secondary rounded destination search_input"></h3>
			</div>
			<div class="col-1 d-flex justify-content-end">
				<input type="submit" value="සොයන්න" title="Search" class=" btn btn-danger ml-3" style="height: 45px;">
			</div>
		</div>
	</form>

	<!-- Book Search result summary -->
	<div class="container" style="padding:10px 20px 0 20px;">
		<div class="row">
			<div class="col-4 h6">
				{% if search_query != "" %}
					<span class="">{{ rows.paginator.count }} books found for "{{ search_query }}".</span>
				{% else %}
					<span class="">{{ rows.paginator.count }} books found.</span>
				{% endif %}
			</div>
			<div class="col-8 text-right font-weight-bold h6">
				<!-- Pagination : ------------- START -->
				{% if rows.has_previous %}
				  <a href="{{ fullpath }}&page={{ rows.previous_page_number }}">◄ Previous</a>

				  {% if rows.number > 3 %}
					<a href="{{ fullpath }}&page=1">1</a>
					{% if rows.number > 4 %}
					  <span>...</span>
					{% endif %}
				  {% endif %}
				{% endif %}

				{% for num in rows.paginator.page_range %}
				  {% if rows.number == num %}
					<span style="background-color:#883812; color:white; border:1px solid black; border-radius:10px; padding:3px;" class="">{{ num }}</span>
				  {% elif num > rows.number|add:'-3' and num < rows.number|add:'3' %}
					<a href="{{ fullpath }}&page={{ num }}">{{ num }}</a>
				  {% endif %}
				{% endfor %}

				{% if rows.has_next %}
				  {% if rows.number < rows.paginator.num_pages|add:'-3' %}
					<span>...</span>
					<a href="{{ fullpath }}&page={{ rows.paginator.num_pages }}">{{ rows.paginator.num_pages }}</a>
				  {% elif rows.number < rows.paginator.num_pages|add:'-2' %}
					<a href="{{ fullpath }}&page={{ rows.paginator.num_pages }}">{{ rows.paginator.num_pages }}</a>
				  {% endif %}

				  <a href="{{ fullpath }}&page={{ rows.next_page_number }}">Next ►</a>
				{% endif %}
				<!-- Pagination : ------------- END -->
			</div>
		</div>

		<!-- Book results grid -->
		<div class="row justify-content-center align-items-center">
			<table style="padding:10px" class="p-2 grid" cellpadding="2px" cellspacing="10px" >
				<thead>
					<th><a href="{{ fullpath }}&sort=catalog_no">Catalog No</a></th>
					<th><a href="{{ fullpath }}&sort=title">Book Title</a></th>
					<th><a href="{{ fullpath }}&sort=volume">Volume</a></th>
					<th><a href="{{ fullpath }}&sort=author__author">Author</a></th>
					<th><a href="{{ fullpath }}&sort=language">Language</a></th>
					<th><a href="{{ fullpath }}&sort=pages">Pages</a></th>
					<th><a href="{{ fullpath }}&sort=size">Size</a></th>
					<th><a href="{{ fullpath }}&sort=published_year">Year</a></th>
					<th><a href="{{ fullpath }}&sort=category_L1">Main Category</a></th>
					<th><a href="{{ fullpath }}&sort=category_L2">Sub Category</a></th>
				</thead>
				<tbody>
					<tr class="grid">
						<th><a href="{{ fullpath }}&sort=catalog_no">නාමාවලි අංකය</a></th>
						<th><a href="{{ fullpath }}&sort=title">නම</a></th>
						<th><a href="{{ fullpath }}&sort=volume">වෙළුම</a></th>
						<th><a href="{{ fullpath }}&sort=author__author">කතෘ</a></th>
						<th><a href="{{ fullpath }}&sort=language">භාෂාව</a></th>
						<th><a href="{{ fullpath }}&sort=pages">පිටු ගණන</a></th>
						<th><a href="{{ fullpath }}&sort=size">ප්‍රමාණය</a></th>
						<th><a href="{{ fullpath }}&sort=published_year">වසර</a></th>
						<th><a href="{{ fullpath }}&sort=category_L1">ප්‍රධාන වර්ගීකරණය</a></th>
						<th><a href="{{ fullpath }}&sort=category_L2">වෙනත් වර්ගීකරණය</a></th>
					</tr>
					{% for row in rows %}
						<tr class="{% cycle 'odd' 'even' %}">
							<td>{{ row.catalog_no }}</td>
							<td><a href="/read/{{ row.catalog_no }}"> {{ row.title }}</a></td>
							<td>{{ row.volume }}</td>
							<td>{{ row.author }}
							<td>{{ row.get_language_display }}</td>
							<td>{{ row.pages }}</td>
							<td>{{ row.book_size }} </td>
							{% if row.published_year|date:"Y" == "1700" %}
								<td>-</td>
							{% else %}
								<td>{{ row.published_year|date:"Y" }}</td>
							{% endif %}
							<td>{{ row.get_category_L1_display }}</td>
							<td>{{ row.get_category_L2_display }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>


{% endblock %}
	