{% extends "template.2/template_page.html" %}
{% block content %}

	<div class="intro pattern-wrap">
		<div class="">
			{% comment %} <div class="row">
				<div class="col">
					<h2 class="intro_title text-center">ග්‍රන්ථ වර්ගීකරණ</h2>
				</div>
			</div> {% endcomment %}
			<div class="row intro_items">

				<!-- Intro Item -->
				{% for row in rows %}
				<div class="col-lg-2 intro_col">
					<div class="intro_item book">
						<div class="book_item_overlay"></div>
						<div class="intro_item_background" style="background-image:url(../static/images/old_paper.jpg)"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="book_title intro_center text-center">
								<h3>{{ row.title }}</h3>
								<h3 class="book_text book_light_bg mt-1">{{ row.author }}</h3>
								<p class="book_text">වර්ෂය: {{ row.year }}</p>
								<p class="book_text py-2">පිටු: {{ row.pages }}</p>
								<div class="button "><div class="button_bcg"></div><a href="/read/1">කියවන්න<span></span><span></span><span></span></a></div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}
	